* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PrimaryText, "sans-serif";
}

@font-face {
    font-family: "PrimaryText";
    src: url("../Fonts/Poppins-Regular.ttf");
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

button a,
a,
li a {
    text-decoration: none;
}

/* HEADER :- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B63AB;
    height: 70px;
}

header .nav-bar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    height: 70px;
    width: 100%;
}

header .nav-bar-top ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .nav-bar-top ul li a {
    padding: 8px 16px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

header .nav-bar-top ul li.active a,
header .nav-bar-top ul li a:hover {
    background: #FFF;
    color: #1B63AB;
}

header .hamburger-menu {
    z-index: 99;
    display: none;
}

header .hamburger-menu button {
    height: 45px;
    width: 45px;
    font-size: 25px;
    border-radius: 7px;
    background-color: transparent;
    border: none;
    color: #FFF;
}

/* MAIN 01:=  */
main {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .container {
    width: 100%;
}

main .main-cover {
    background-color: rgba(144, 244, 193, 0.3);
    margin: 20px 0;
}

main .container h1 {
    text-align: center;
    font-size: 54px;
    padding: 8px 0;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    width: 100%;
    color: #000;
}

main .container .main-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
}

.main-info .main-info-1 {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.main-info .main-info-1 .main-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info .main-info-1 .main-info-img img {
    height: 220px;
}

.main-info-details {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.main-info .main-info-details h2 {
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
}

.main-info-details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.main-info-details button {
    height: 40px;
    width: 180px;
    font-size: 16px;
    background-color: #FFF;
    border: 2px solid #00619a;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main-info-details button:hover {
    background-color: #00619a;
}

.main-info-details button:hover a {
    color: #FFF;
}

.main-info-details button a {
    color: #00619a;
    font-weight: bold;
}

.main-info-details-sch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
}

.main-info-details-sch p {
    text-align: center;
    font-size: 14px;
    background-color: #00619a;
    width: 180px;
    font-weight: bold;
    color: #FFF;
    border: 2px solid #00619a;
}

.main-info .main-info-2 {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-info-2 .doc-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info-2 img {
    height: 220px;
    border-radius: 50%;
}

/* SERVICES MAIN:-  */
.main-service-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.main-service-contain h2 {
    width: 100%;
    text-align: center;
    font-size: 37px;
    margin: 30px 0;
    color: #00619a;
}

.main-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-services .acc-logo,
.main-services .ada-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.main-services .acc-logo img,
.main-services .ada-logo img {
    width: 180px;
}

.main-services .service-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main-services .service-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.main-services .service-btn button {
    width: 48%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #00619a;
    border: 2px solid #00619a;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
}

.main-services .service-btn button:hover {
    background-color: #00619a;
    color: #FFF;
}

/* FOOTER :- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: #1B63AB;
}

.web-footer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.web-footer>div {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.web-footer .contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.web-footer .contact-list .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.web-footer .contact-list .links i {
    font-size: 21px;
    color: #FFF;
}

.web-footer .contact-list button {
    height: 40px;
    width: 180px;
    margin-top: 5px;
    font-size: 16px;
    color: #1B63AB;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.web-footer .contact-list button:hover {
    background-color: #1B63AB;
    color: #FFF;
    border: 2px solid #FFF;
}

.web-footer h2 {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
    color: #FFF;
}

.web-footer ul {
    list-style: none;
}

.web-footer ul li,
.web-footer ul li a {
    font-size: 18px;
    color: #FFF;
}

.web-footer a {
    text-decoration: none;
    color: #FFF;
}

.web-footer iframe {
    height: 200px;
    width: 70%;
}

.copyright {
    padding: 10px 0;
    text-align: center;
    color: #FFF;
}

.copyright a {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #FFF;
}


/* ABOUT US (MAIN) :- */
.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.about-us {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: -1;
    height: auto;
}

.about-us .about-info {
    height: auto;
    width: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 10px;
}

.about-us .about-gallery {
    height: auto;
    width: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.about-us .about-info h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: #1B63AB;
}

.about-us .about-info .about-text p {
    margin-top: 5px;
    font-size: 15px;
}

.about-us .about-info .about-text p b {
    margin-top: 5px;
    font-size: 25px;
    color: #1B63AB;
}

.container {
    position: relative;
    height: auto;
    width: 85%;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 14.28%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.mission-n-value {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.mission-n-value .header {
    height: 180px;
    width: 180px;
    background-color: rgb(59, 202, 202);
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 50%;
    position: absolute;
    top: -85px;
}

.mission-n-value h3 {
    color: #1B63AB;
    font-size: 25px;
    margin: 15px 0;
    text-align: center;
}

.mission-n-value p {
    font-size: 18px;
    position: absolute;
    top: 30%;
    width: 95%;
}

.mission-n-value img {
    height: 350px;
    width: auto;
}

.mission-n-value .our-mission,
.mission-n-value .our-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}

.mission-n-value .our-value {
    flex-direction: row-reverse;
}

.mission-n-value .our-mission .mission-text,
.mission-n-value .our-value .value-text {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-n-value .our-mission .mission-img,
.mission-n-value .our-value .value-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.three-values {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.three-values .value {
    width: 450px;
    border: 1px solid black;
    padding: 25px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    margin: 15px 0;
}

.three-values .value h3 {
    font-size: 24px;
    color: #1B63AB;
}

.three-values .value p {
    width: 90%;
    font-size: 14px;
}

/* SERVICE (Main) */

main .main-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

main .main-services .main-service-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px;
    margin: 5px 0;
}

main .main-services .main-service-cover .main-service-header,
main .main-services .main-service-cover .main-service-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

main .main-services .main-service-image img {
    width: 100%;
    /* height: 100%/; */
}

main .main-services .main-service-cover .main-service-header h2 {
    font-size: 35px;
    color: #1B63AB;
}

main .main-services .main-service-cover .main-service-header p {
    font-size: 16px;
}


main .main-service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 15px 0
}

main .main-service-list .main-services-item {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 20px; */
}

main .main-service-list .main-services-item:nth-child(3),
main .main-service-list .main-services-item:nth-child(4),
main .main-service-list .main-services-item:nth-child(7),
main .main-service-list .main-services-item:nth-child(8) {
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    /* gap: 20px; */
}

main .main-service-list .main-services-item .item-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main .main-service-list .main-services-item .item-info {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main .main-service-list .main-services-item .item-info .item-content {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    /* gap: px; */
}

main .main-service-list .main-services-item .item-image a {
    width: 100%;
    height: 100%;
}

main .main-service-list .main-services-item .item-image img {
    width: 100%;
    height: 100%;
}


main .main-service-list .main-services-item .item-info h3 a {
    color: #1B63AB;
    font-weight: bold;
    font-size: 18px;
}


main .main-service-list .main-services-item .item-info p {
    font-size: 12px;
}


main .main-service-list .main-services-item .item-info button {
    background-color: #00619a;
    color: #fff;
    height: 40px;
    width: 160px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

main .main-service-list .main-services-item .item-info button:hover {
    background-color: #ffff;
    color: #00619a;
    border: 1px solid #00619a;
}

/* SERVICE DETAILS (Internal Pages) */
.serv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0;
    gap: 20px;
}

.serv-container .serv-col {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10spx; */
    margin: 15px 0;
}

.serv-col .serv-cov-txt {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 7px;
    flex-direction: column;
    width: 30%;
}

.serv-col .serv-cov-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-direction: column;
    width: 30%;
}

.serv-col .serv-cov-txt h2 {
    color: #1B63AB;
    font-size: 26px;
}

.serv-col .serv-cov-txt h2.pay-h2 {
    font-size: 26px;
    color: #1B63AB;
}

.serv-col .serv-cov-txt h4 {
    font-size: 15px;
}

.serv-col .serv-cov-txt p {
    font-size: 16px;
}

.serv-col .serv-cov-img img {
    width: 90%;
}

.serv-avail {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    width: 60%;
}

.serv-avail h2 {
    font-size: 24px;
    color: #1B63AB;
}

.serv-avail .serv-list {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: 12px;
}

.serv-avail .serv-list .serv-item {
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.serv-avail .serv-list .serv-item h4 {
    font-size: 18px;
    color: #1B63AB;
}

.serv-avail .serv-list .serv-item p {
    font-size: 16px;
}

.serv-avail .serv-list .serv-item button,
.serv-col .faq-list .faqs button {
    height: 30px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-align: left;
}

.serv-avail .serv-list .serv-item button:hover,
.serv-col .faq-list .faqs button:hover {
    color: #00619a;
}

.serv-avail .serv-list .serv-item .hiddenDetail {
    display: none;
}

.serv-col .faq-list {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.serv-col .faq-pay {
    display: flex;
    width: 60%;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.faq-list .faqs {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.faq-list .faq-text,
.qna-item .qna-text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.faq-list .faq-text ul {
    padding-left: 20px;
}

.faq-list .faq-text h3,
.qna-item .qna-text h3 {
    font-size: 18px;
    color: #1B63AB;
}

.faq-list .faq-text p,
.qna-item .qna-text p,
.faq-list .faq-text ul li,
.qna-item .qna-text ul li {
    font-size: 16px;
}

.serv-qna {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.serv-qna .qna-item {
    display: flex;
    justify-content: normal;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.item-pay ul {
    padding-left: 20px;
}

.bookSchedule {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookSchedule .SchText {
    width: 65%;
}

.bookSchedule h4 {
    font-size: 18px;
    color: #00b4d8;
}

.bookSchedule button {
    height: 45px;
    width: 200px;
    color: #fff;
    background-color: #00619a;
    border: none;
    cursor: pointer;
    font-size: 19px;
    transition: 0.2s all ease-in-out;
}

.bookSchedule button:hover {
    color: #00619a;
    background-color: #fff;
    border: 2px solid #00619a;
    font-weight: bold;
}

.bookSchedule button.payBtn {
    height: 45px;
    width: 300px;
    color: #fff;
    background-color: #00619a;
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: 0.2s all ease-in-out;
}

.bookSchedule button.payBtn:hover {
    color: #00619a;
    background-color: #fff;
    border: 2px solid #00619a;
    font-weight: bold;
}










@media (max-width: 1280px) {

    /* ABOUT US (MAIN:-) */
    .mission-n-value {
        width: 95%;
    }

    .mission-n-value p {
        font-size: 17px;
        top: 25%;
    }
}

@media (max-width: 1144px) {

    /* ABOUT US (MAIN) :- */
    .about-us {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: -1;
        height: auto;
    }

    .about-us .about-info {
        height: auto;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 10px;
    }

    .about-us .about-gallery {
        height: auto;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .about-us .about-info h1 {
        font-size: 34px;
        text-transform: uppercase;
        color: #1B63AB;
    }

    .about-us .about-info .about-text p {
        margin-top: 5px;
        font-size: 15px;
    }

    /* SERVICE (Main) */
    main .main-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
    }

    main .main-services .main-service-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 15px;
    }

    main .main-services .main-service-cover .main-service-header,
    main .main-services .main-service-cover .main-service-image {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 8px;
    }

    main .main-services .main-service-image img {
        width: 100%;
        /* height: 100%/; */
    }

    main .main-services .main-service-cover .main-service-header h2 {
        font-size: 33px;
        color: #1B63AB;
    }

    main .main-services .main-service-cover .main-service-header p {
        font-size: 15px;
    }

    main .main-service-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        margin: 15px 0
    }

    main .main-service-list .main-services-item {
        width: 50%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* gap: 20px; */
    }

    main .main-service-list .main-services-item:nth-child(3),
    main .main-service-list .main-services-item:nth-child(4),
    main .main-service-list .main-services-item:nth-child(7),
    main .main-service-list .main-services-item:nth-child(8) {
        width: 50%;
        /* background-color: yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        /* gap: 20px; */
    }

    main .main-service-list .main-services-item .item-image {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    main .main-service-list .main-services-item .item-info {
        width: 50%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    main .main-service-list .main-services-item .item-info .item-content {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
    }

    main .main-service-list .main-services-item .item-image a {
        width: 100%;
        height: 100%;
    }

    main .main-service-list .main-services-item .item-image img {
        width: 100%;
        height: 100%;
    }


    main .main-service-list .main-services-item .item-info h3 a {
        color: #1B63AB;
        font-weight: bold;
        font-size: 17px;
    }


    main .main-service-list .main-services-item .item-info p {
        font-size: 10px;
    }


    main .main-service-list .main-services-item .item-info button {
        background-color: #00619a;
        color: #fff;
        height: 35px;
        width: 150px;
        border: none;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    main .main-service-list .main-services-item .item-info button:hover {
        background-color: #ffff;
        color: #00619a;
        border: 1px solid #00619a;
    }

    /* SERVICE DETAIL (Internal Pages) */
    .serv-col .serv-cov-txt {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 7px;
        flex-direction: column;
        width: 40%;
    }

    .serv-col .serv-cov-img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        flex-direction: column;
        width: 40%;
    }

    .serv-col .serv-cov-txt h2 {
        font-size: 24px;
    }

    .serv-col .serv-cov-txt h4 {
        font-size: 14px;
    }

    .serv-col .serv-cov-txt p {
        font-size: 15px;
    }

    .serv-col .serv-cov-img img {
        width: 85%;
    }

    .serv-avail {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
        width: 80%;
    }

    .serv-avail h2 {
        font-size: 24px;
    }

    .serv-avail .serv-list {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
    }

    .serv-avail .serv-list .serv-item {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 7px;
        margin: 15px 0;
    }

    .serv-avail .serv-list .serv-item h4 {
        font-size: 18px;
    }

    .serv-avail .serv-list .serv-item p {
        font-size: 15px;
    }

    .serv-avail .serv-list .serv-item button {
        height: 25px;
        width: 90px;
        font-size: 15px;
        font-weight: bold;
        background: transparent;
        border: none;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-align: left;
    }


    .serv-col .faq-list {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .serv-qna {
        width: 80%;
    }

    .bookSchedule {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bookSchedule .SchText {
        width: 80%;
    }

    .bookSchedule h4 {
        font-size: 17px;
    }

    .bookSchedule button {
        height: 40px;
        width: 180px;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 17px;
        transition: 0.2s all ease-in-out;
    }

    .bookSchedule button:hover {
        background-color: #fff;
        font-weight: bold;
    }

    .bookSchedule button.payBtn {
        height: 40px;
        width: 280px;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 15px;
        transition: 0.2s all ease-in-out;
    }

    .bookSchedule button.payBtn:hover {
        background-color: #fff;
        font-weight: bold;
    }

    .serv-col .faq-pay {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 1020px) {

    /* HEADER :- */
    header .nav-bar-top {
        padding: 15px;
    }

    header .nav-bar-top ul li a {
        padding: 7px 14px;
        font-size: 16px;
    }

    /* MAIN 01:=  */
    main .container {
        width: 100%;
    }

    .main-info .main-info-1 {
        width: 30%;
        gap: 10px;
        justify-content: center;
    }

    .main-info .main-info-1 .main-info-img img {
        height: 200px;
    }

    .main-info-details {
        gap: 10px;
    }

    .main-info .main-info-1 h2 {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 1px;
    }

    .main-info-details button {
        height: 40px;
        width: 180px;
        font-size: 16px;
    }

    .main-info-details-sch p {
        font-size: 18px;
    }

    .main-info .main-info-2 {
        justify-content: center;
    }

    .main-info-2 img {
        height: 200px;
    }

    /* SERVICES MAIN:-  */

    .main-service-contain h2 {
        font-size: 33px;
    }

    .main-services .acc-logo,
    .main-services .ada-logo {
        width: 20%;
    }

    .main-services .acc-logo img,
    .main-services .ada-logo img {
        width: 150px;
    }

    .main-services .service-btn {
        width: 100%;
    }

    .main-services .service-lists {
        width: 55%;
    }

    .main-services .service-btn button {
        font-size: 18px;
    }

}

@media (max-width: 972px) {

    /* HEADER :- */
    header .nav-bar-top {
        padding: 7px;
    }

    header .nav-bar-top ul li a {
        padding: 6px 12px;
        letter-spacing: 0.5px;
        font-size: 14px;
    }

    /* MAIN 01:- */
    main .container {
        width: 100%;
    }

    .main-info .main-info-1,
    .main-info .main-info-2,
    .main-info .main-info-details {
        width: auto;
    }

    .main-info .main-info-1 .main-info-img img {
        height: 160px;
    }

    .main-info .main-info-1 h2 {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 1px;
    }

    .main-info-details button {
        height: 30px;
        width: 160px;
        font-size: 15px;
    }

    .main-info-details-sch p {
        text-align: center;
        font-size: 15px;
        width: 200px;
    }

    .main-info-2 img {
        height: 160px;
    }

    /* FOOTER :- */

    .web-footer .contact-list .links i {
        font-size: 18px;
    }

    .web-footer .contact-list button {
        height: 30px;
        width: 140px;
        margin-top: 5px;
        font-size: 14px;
    }

    .web-footer h2 {
        font-size: 21px;
    }

    .web-footer ul li,
    .web-footer ul li a {
        font-size: 16px;
    }

    .web-footer iframe {
        height: 200px;
        width: 100%;
    }

    /* ABOUT US (MAIN) :- */
    .about-us {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 10px;
        z-index: -1;
        height: auto;
    }

    .about-us .about-info {
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 0 10px;
    }

    .about-us .about-gallery {
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .about-us .about-info h1 {
        font-size: 34px;
        text-transform: uppercase;
        color: #1B63AB;
    }

    .about-us .about-info .about-text p {
        margin-top: 5px;
        font-size: 15px;
    }

    .container {
        position: relative;
        height: auto;
        width: 95%;
    }

    .mission-n-value {
        width: 100%;
    }

    .mission-n-value h3 {
        font-size: 23px;
    }

    .mission-n-value p {
        font-size: 16px;
        width: 95%;
        top: 23%;
    }

    .mission-n-value img {
        height: 300px;
    }

    /* SERVICE (MAIN) */
    main .main-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
    }

    main .main-services .main-service-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 10px;
    }

    main .main-services .main-service-cover .main-service-header,
    main .main-services .main-service-cover .main-service-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 10px;
        /* gap: 8px; */
    }

    main .main-services .main-service-image img {
        width: 100%;
        /* height: 100%/; */
    }

    main .main-services .main-service-cover .main-service-header h2 {
        font-size: 33px;
        color: #1B63AB;
    }

    main .main-services .main-service-cover .main-service-header p {
        font-size: 15px;
    }

    main .main-service-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    main .main-service-list .main-services-item:nth-child(odd) {
        width: 95%;
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;
    }

    main .main-service-list .main-services-item:nth-child(even) {
        width: 95%;
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 5px;
    }

    main .main-service-list .main-services-item .item-image,
    main .main-service-list .main-services-item .item-info {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    main .main-service-list .main-services-item .item-info .item-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
    }

    main .main-service-list .main-services-item .item-image img {
        width: 100%;
        height: auto;
    }


    main .main-service-list .main-services-item .item-info h3 a {
        color: #1B63AB;
        font-weight: bold;
        font-size: 18px;

    }


    main .main-service-list .main-services-item .item-info p {
        font-size: 14px;
    }


    main .main-service-list .main-services-item .item-info button {
        background-color: #00619a;
        color: #fff;
        height: 30px;
        width: 130px;
        border: none;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    main .main-service-list .main-services-item .item-info button:hover {
        background-color: #ffff;
        color: #00619a;
        border: 1px solid #00619a;
    }

    /* SERVICE DETAIL (Internal Pages) */
    .serv-container .serv-col {
        width: 100%;
    }

    .serv-col .serv-cov-txt {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 7px;
        flex-direction: column;
        width: 45%;
    }

    .serv-col .serv-cov-img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        flex-direction: column;
        width: 45%;
    }

    .serv-col .serv-cov-txt h2 {
        font-size: 26px;
    }

    .serv-col .serv-cov-txt h4 {
        font-size: 14px;
    }

    .serv-col .serv-cov-txt p {
        font-size: 16px;
    }

    .serv-col .serv-cov-img img {
        width: 90%;
    }

    .serv-avail {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
        width: 90vw;
    }

    .serv-avail h2 {
        font-size: 22px;
    }

    .serv-avail .serv-list {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
    }

    .serv-avail .serv-list .serv-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 7px;
        margin: 15px 0;
    }

    .serv-avail .serv-list .serv-item h4 {
        font-size: 17px;
    }

    .serv-avail .serv-list .serv-item p {
        font-size: 14px;
    }

    .serv-avail .serv-list .serv-item button,
    .faq-list .faq-text button {
        height: 25px;
        width: 90px;
        font-size: 15px;
        font-weight: bold;
        background: transparent;
        border: none;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-align: left;
    }


    .serv-col .faq-list {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .faq-list .faqs {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 10px;
    }


    .faq-list .faq-img img,
    .qna-item .qna-img img {
        /* color: #0254B9; */
        height: 25px;
    }

    .faq-list .faq-text {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
    }

    .faq-list .faq-text h3,
    .qna-item .qna-text h3 {
        font-size: 17px;
    }

    .faq-list .faq-text p,
    .qna-item .qna-text p,
    .faq-list .faq-text ul li,
    .qna-item .qna-text ul li {
        font-size: 15px;
    }

    .serv-qna {
        width: 90%;
    }

    .bookSchedule {
        width: 90%;
    }

    .bookSchedule .SchText {
        width: 80%;
    }

    .bookSchedule h4 {
        font-size: 16px;
    }

    .bookSchedule button {
        height: 40px;
        width: 160px;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 15px;
        transition: 0.2s all ease-in-out;
    }

    .bookSchedule button:hover {
        background-color: #fff;
        font-weight: bold;
    }

    .bookSchedule button.payBtn {
        height: 40px;
        width: 240px;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 12px;
        transition: 0.2s all ease-in-out;
    }

    .bookSchedule button.payBtn:hover {
        background-color: #fff;
        font-weight: bold;
    }

    .serv-col .faq-pay {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 768px) {

    /* HEADER :- */
    header {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 70px;
        padding: 10px 20px;
    }

    header .nav-bar-top {
        display: none;
        padding: 20px 15px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        /* display: none; */
    }

    header .nav-bar-top ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex-direction: column;
        list-style: none;
        background-color: #1B63AB;
    }

    header .nav-bar-top ul li a {
        padding: 8px 16px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }

    header .hamburger-menu {
        display: block;
    }

    header .nav-bar-top.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* MAIN 01:- */

    main .container h1 {
        font-size: 33px;
        letter-spacing: 1.5px;
    }

    main .container .main-info {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 35px;
    }

    .main-info .main-info-1 {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-info .main-info-1 .main-info-img img {
        height: 220px;
    }

    .main-info .main-info-details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-info .main-info-details h2 {
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 1.2px;
        text-align: center;
    }

    .main-info-details-sch p {
        text-align: center;
    }

    .main-info .main-info-2 {
        width: 100%;
        justify-content: center;
    }

    .main-info-2 img {
        height: 220px;
        border-radius: 50%;
    }

    /* SERVICES MAIN:-  */

    .main-service-contain h2 {
        font-size: 30px;
    }

    .main-services {
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .main-services .acc-logo,
    .main-services .ada-logo {
        width: 90%;
    }

    .main-services .acc-logo img,
    .main-services .ada-logo img {
        width: 200px;
    }

    .main-services .service-lists {
        width: 90%;
    }

    .main-services .service-btn button {
        width: 90%;
    }

    /* FOOTER :- */
    .web-footer {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }

    .web-footer>div {
        width: 90%;
        align-items: start;
        flex-direction: column;
    }

    .web-footer h2 {
        font-size: 21px;
    }

    .web-footer ul li,
    .web-footer ul li a {
        font-size: 14px;
    }

    .web-footer iframe {
        height: 200px;
        width: 100%;
    }

    .break-point::after {
        content: "\A";
        white-space: pre;
        /* to preserve the line break */
    }

    /* ABOUT US (MAIN) :- */
    .about-us {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 5px;
    }

    .about-us .about-info,
    .about-us .about-gallery {
        height: 40%;
        width: 90%;
        /* background-color: red; */
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .about-us .about-info h1 {
        font-size: 30px;
        text-transform: uppercase;
        color: #1B63AB;
    }

    .about-us .about-info .about-text p {
        margin-top: 10px;
        font-size: 15px;
    }

    .mission-n-value {
        width: 100%;
        gap: 30px;
    }

    .mission-n-value .header {
        height: 180px;
        width: 180px;
        display: flex;
        justify-content: center;
        align-items: end;
        border-radius: 50%;
        position: static;
        margin-top: -85px;
    }

    .mission-n-value h3 {
        color: #1B63AB;
        font-size: 25px;
        margin: 15px 0;
        text-align: center;
    }

    .mission-n-value p {
        font-size: 18px;
        position: static;
        top: 30%;
        width: 95%;
    }

    .mission-n-value img {
        height: 350px;
        width: auto;
    }

    .mission-n-value .our-mission,
    .mission-n-value .our-value {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 20px 0;
        position: static;
        overflow: hidden;
        gap: 35px;
        flex-direction: column-reverse;
    }

    .mission-n-value .our-value {
        flex-direction: column-reverse;
    }

    .mission-n-value .our-mission .mission-text,
    .mission-n-value .our-value .value-text {
        width: 100%;
        height: 100%;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        gap: 20px;
    }

    .mission-n-value .our-mission .mission-img,
    .mission-n-value .our-value .value-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .three-values {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .three-values .value {
        width: 400px;
        border: 1px solid black;
        padding: 25px;
        height: 400px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        margin: 15px 0;
    }

    .three-values .value h3 {
        font-size: 21px;
        color: #1B63AB;
    }

    .three-values .value p {
        width: 95%;
        font-size: 12px;
    }

    /* SERVICES (Main) */
    main .main-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
    }

    main .main-services .main-service-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 15px;
    }

    main .main-services .main-service-cover .main-service-header,
    main .main-services .main-service-cover .main-service-image {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    main .main-services .main-service-image img {
        width: 100%;
        /* height: 100%/; */
    }

    main .main-services .main-service-cover .main-service-header h2 {
        font-size: 34px;
        color: #1B63AB;
        /* text-align: center; */
    }

    main .main-services .main-service-cover .main-service-header p {
        font-size: 15px;
        text-align: center;
    }

    main .main-service-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7px;
    }

    main .main-service-list .main-services-item:nth-child(odd) {
        width: 45%;
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
        border: 1px solid #1B63AB;
        padding-bottom: 20px;
    }

    main .main-service-list .main-services-item:nth-child(even) {
        width: 45%;
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
        border: 1px solid #1B63AB;
        padding-bottom: 20px;
    }

    main .main-service-list .main-services-item .item-image,
    main .main-service-list .main-services-item .item-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    main .main-service-list .main-services-item .item-info .item-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 0 10px;
    }

    main .main-service-list .main-services-item .item-image img {
        width: 100%;
        height: auto;
    }


    main .main-service-list .main-services-item .item-info h3 a {
        color: #1B63AB;
        font-weight: bold;
        font-size: 19px;
    }


    main .main-service-list .main-services-item .item-info p {
        font-size: 12px;
        height: 115px;
    }


    main .main-service-list .main-services-item .item-info button {
        background-color: #00619a;
        color: #fff;
        height: 30px;
        width: 130px;
        border: none;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    /* SERVICE DETAIL (Internal Pages) */
    .serv-col:nth-child(1) {
        flex-direction: column;
        gap: 20px;
    }

    .serv-col .serv-cov-txt {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 7px;
        flex-direction: column;
        width: 85%;
    }

    .serv-col .serv-cov-img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        flex-direction: column;
        width: 85%;
    }

    .serv-col .serv-cov-txt h2 {
        font-size: 22px;
    }

    .serv-col .serv-cov-txt h4 {
        font-size: 11px;
    }

    .serv-col .serv-cov-txt p {
        font-size: 14px;
    }

    .serv-col .serv-cov-img img {
        width: 70%;
    }

    .serv-avail {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
        width: 85%;
    }

    .serv-avail h2 {
        font-size: 18px;
    }

    .serv-avail .serv-list {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .serv-avail .serv-list .serv-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 7px;
        margin: 15px 0;
    }

    .serv-avail .serv-list .serv-item h4 {
        font-size: 16px;
    }

    .serv-avail .serv-list .serv-item p {
        font-size: 13px;
    }

    .serv-avail .serv-list .serv-item button {
        height: 25px;
        width: 90px;
        font-size: 15px;
        font-weight: bold;
        background: transparent;
        border: none;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-align: left;
    }

    .serv-col .faq-list {
        display: flex;
        width: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .faq-list .faqs {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 10px;
    }


    .faq-list .faq-img img,
    .qna-item .qna-img img {
        /* color: #0254B9; */
        height: 25px;
    }

    .faq-list .faq-text {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 10px;
    }

    .faq-list .faq-text h3,
    .qna-item .qna-text h3 {
        font-size: 16px;
    }

    .faq-list .faq-text p,
    .qna-item .qna-text p,
    .faq-list .faq-text ul li,
    .qna-item .qna-text ul li {
        font-size: 14px;
    }

    .faq-main .faq-col:last-child {
        padding: 0;
    }

    .serv-qna {
        width: 85%;
    }

    .bookSchedule {
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        gap: 15px;
    }

    .bookSchedule .SchText {
        width: 100%;
    }

    .bookSchedule h4 {
        font-size: 15px;
    }

    .bookSchedule button {
        height: 40px;
        width: 160px;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: 0.2s all ease-in-out;
    }

    /* .bookSchedule button:hover {
        color: #0254B9;
        background-color: #fff;
        border: 2px solid #0254B9;
        font-weight: bold;
    } */

    .bookSchedule button.payBtn {
        height: 45px;
        width: 240px;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s all ease-in-out;
    }
}

@media (max-width: 650px) {

    /* ABOUT US (MAIN) :- */
    .team-msg .text ul li.quote {
        font-size: 26px;
        color: #ffffff;
    }

    .team-msg .text {
        padding: 0 10px;
    }

    .team-msg .text ul li.team-text {
        font-size: 14px;
        color: #ffffff;
        margin: 5px 0;
    }

    /* SERVICES (main) */
    main .main-service-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 7px;
    }

    main .main-service-list .main-services-item:nth-child(odd) {
        width: 85%;
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
    }

    main .main-service-list .main-services-item:nth-child(even) {
        width: 85%;
        /* background-color: yellow; */
        height: auto;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin: 10px 0;
        gap: 10px;
    }

    main .main-service-list .main-services-item .item-image,
    main .main-service-list .main-services-item .item-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    main .main-service-list .main-services-item .item-info .item-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }

    main .main-service-list .main-services-item .item-image img {
        width: 100%;
        height: auto;
    }

    main .main-service-list .main-services-item .item-info p {
        font-size: 12px;
        height: auto;
    }


    main .main-service-list .main-services-item .item-info button {
        background-color: #00619a;
        color: #fff;
        height: 30px;
        width: 130px;
        border: none;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}

@media (max-width: 420px) {
    main .container h1 {
        font-size: 27px;
        letter-spacing: 1.5px;
    }

    main .container .main-info {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .main-info .main-info-1 {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-info .main-info-1 .main-info-img img {
        height: 130px;
    }

    .main-info .main-info-details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-info .main-info-details h2 {
        font-size: 21px;
        line-height: 24px;
        letter-spacing: 1.2px;
        text-align: center;
    }

    .main-info-details-sch p {
        text-align: center;
    }

    .main-info .main-info-2 {
        width: 100%;
        justify-content: center;
    }

    .main-info-2 img {
        height: 140px;
        border-radius: 50%;
    }

    .three-values .value {
        width: 100%;
        border: 1px solid black;
        padding: 30px;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        margin: 15px 0;
    }

    .three-values .value h3 {
        font-size: 20px;
        color: #1B63AB;
    }

    .three-values .value p {
        width: 80%;
        font-size: 10px;
    }
}